@charset "UTF-8";
// 单篇文章、单个分类、单个标签组件

// 单篇文章
.every-article{
	padding: 5px;
	margin: 5px 0;
	height: 140px;
	background-color: #f8f8f8;
	position: relative;
	@include clear;

	&:hover{
		background-color: #eee;
	}

	.coverpic{
		width: 170px;
		height: 110px;
		padding-top: $coverpic-padding-top;
		margin-right: $coverpic-margin-right;

		img{
			width: $coverpic-img-width;
			height: $coverpic-img-height;
		}
	}
	.article-info{
		margin-left: $coverpic-margin-right + $coverpic-img-width;
		padding-top: $coverpic-padding-top;
		height: $coverpic-img-height;
		min-width: 770px;

		.listarticleh2{
			margin-bottom: 10px;
			font-size: 18px;

			a{
				color: #555;

				&:hover{
					color: #148cca;
				}
			}
			
		}
	}
	.listarticle-baseinfo{
		margin-bottom: 5px;
		.every-listarticle-baseinfo{
			display: inline-block;
			color: #bcbcbc;
			font-size: 14px;
			margin-right: 5px;

			a{
				color: #ccc;
			}
			.newcommentnum{
				color: #ec2e2e;
			}
		}
	}
	.article-abstract{
		color: #949494;
		font-size: 14px;
		line-height: 17px;
		height: 61px;
	}
	.sort{
		display: $sort-span-display;
		height: $sort-span-height;
		padding: $sort-span-padding;
		border: 1px solid $sort-color;
		font-size: $sort-font-size;
		color: $sort-color;

		&:hover{
			border: 1px solid $sort-color;
			background-color: $sort-color;
			color: #fff;

			a{
				color: #fff;
			}
		}

		a{
			color: $sort-color;
		}
	}
	.tag{
		display: $sort-span-display;
		height: $sort-span-height;
		padding: $sort-span-padding;
		border: 1px solid $tag-color;
		font-size: $sort-font-size;
		color: $tag-color;

		&:hover{
			border: 1px solid $tag-color;
			background-color: $tag-color;
			color: #fff;

			a{
				color: #fff;
			}
		}

		a{
			color: $tag-color;
		}
	}

	.operate{
		position: absolute;
		bottom: 12px;
		right: 10px;
		display: none;
	}
}


