<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" /> <!-- 禁止百度转码 -->
    <title>挺 | 后台管理</title>

    <link rel="shortcut icon" href="{$Think.const.ADMIN_IMG_URL}favicon.ico" type="image/x-icon">
    <link rel="icon" href="{$Think.const.ADMIN_IMG_URL}favicon.ico" type="image/x-icon">
    <link href="{$Think.const.ADMIN_CSS_URL}admin.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}jquery-1.12.4.min.js"></script>
    
</head>
<body>
    <div class="page">
        <include file="Public/header" />

        <include file="Public/sidebar" />


        <div class="index main">
            <h1>当前网站总数据</h1>
            <div class="statistics">
                <div class="statistics1 every-statistics float-left">
                    <h2 class="indexh2">总文章</h2>
                    <div class="data">{$articlenum}</div>
                </div>
                <div class="statistics2 every-statistics float-left">
                    <h2 class="indexh2">总阅读</h2>
                    <div class="data">{$readnumsum}</div>
                </div>
                <div class="statistics3 every-statistics float-left">
                    <h2 class="indexh2">总留言</h2>
                    <div class="data">
                        {$commentnum}
                        <neq name="newcommentnum" value="0">
                            <span class="newcommenttitle">（待审核：<a href="{:U('__MODULE__/Comment/showlist')}"><span class="newcommentnum">{$newcommentnum}</span></a>）</span>
                        </neq>
                    </div>
                </div>
                <div class="statistics4 every-statistics float-left">
                    <h2 class="indexh2">总分类</h2>
                    <div class="data">{$sortnum}</div>
                </div>
                <div class="statistics5 every-statistics float-left">
                    <h2 class="indexh2">总标签</h2>
                    <div class="data">{$tagnum}</div>
                </div>
            </div>

            <div class="clear"></div>

        </div>


        <include file="Public/footer" />
    </div>

</body>
</html>