<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">    
    <meta name="author" content="陈锦挺，253018164@qq.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" /> <!-- 禁止百度转码 -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>挺 | 后台管理 - {$tagname} - 修改标签</title>

    <link href="{$Think.const.ADMIN_CSS_URL}admin.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}admin.js"></script>
    
</head>
<body>
    <div class="page">
        <include file="Public/header" />

        <include file="Public/sidebar" />

        <!-- 用于存储当前导航菜单的URL值，使引入的外部js文件获取到该值，以达到高亮左侧导航栏的效果 -->
        <input type="hidden" id="currenturl" value="__CONTROLLER__/showlist" />

        <div class="modifytag main">
            
            <div class="div_head">
            <span>
                <span style="float:left">当前位置是：标签管理-》修改标签信息</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{:U('__CONTROLLER__/showlist')}">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
            <form action="{:U('__CONTROLLER__/modifytag')}" method="post" enctype="multipart/form-data">
                <table border="1" width="100%" class="table_a">
                    <tr>
                        <td>标签名称</td>
                        <td><input type="text" name="tagname" value="{$tagname}" /></td>
                        <td><input type="hidden" name="tagid" value="{$tagid}" /></td>
                    </tr>               
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="修改">
                        </td>
                    </tr>  
                </table>
            </form>
        </div>

            <div class="clear"></div>

        </div>


        <include file="Public/footer" />
    </div>

</body>
</html>