@charset "UTF-8";
// 样式重用

@mixin font-familys{
	font-family: "hiragino sans gb","microsoft yahei";
}
@mixin float-left{
	float: left;
}
@mixin float-right{
	float: right;
}
@mixin clear{
	clear: both;
}
@mixin a-link{
	color: #fff;
	text-decoration: none;
}
@mixin main{
	min-width: 500px;
	padding: 20px;
	margin-left: 180px;
	margin-top: 60px;
}
@mixin listarticle{
	padding: 5px;
	background-color: #fff;
}
@mixin sidebar-li-background-position{
	background-position: 17px 10px;
}