@charset "UTF-8";
// 变量

$header-height: 60px;	// 页面头部header高度
$theme-backgoundcolor: #3e3e40;	// 主题颜色，包含页面头部header和左边侧边导航栏sidebar的背景颜色等

// 文章列表的封面相关
$coverpic-margin-right: 10px;
$coverpic-padding-top: 5px;
$coverpic-img-width: 170px;
$coverpic-img-height: 135px;

// 文章列表简要信息中的分类和标签基本样式
$sort-span-display: inline-block;
$sort-span-height: 17px;
$sort-span-padding: 3px; 
$sort-font-size: 15px;
$sort-color: #339966;
$tag-color: #25a3a4;

// 分页
$pagination-num-color: #0897e0;

// 分类管理列表的每个分类高度
$every-sort-height: 60px;

// 标签管理列表的每个标签高度
$every-tag-height: 25px;

// 每个页面的<h1>背景位置
$h1-background-position: 0 3px;