@charset "UTF-8";
// 添加、编辑文章

// 添加文章
.addarticle{
	h1{
		background: url(../img/writing.png) no-repeat;
		background-position: 0 3px;
	}
	.upload-coverpic{
		@include upload-coverpic-position;
	}

}

// 编辑文章
.modifyarticle{
	h1{
		background: url(../img/modify.png) no-repeat;
		background-position: 0 3px;
	}
	.upload-coverpic{
		@include upload-coverpic-position;
	}
}