<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>文章列表</title>

        <link href="{$Think.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .tr_color{background-color: #9F88FF}
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：文章管理-》文章列表</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="{:U('__CONTROLLER__/addarticle')}">【添加文章】</a>
                </span>
            </span>
        </div>
        <div></div>
        <div class="div_search">
            <span>
                <form action="#" method="get">
                    品牌<select name="s_product_mark" style="width: 100px;">
                        <option selected="selected" value="0">请选择</option>
                        <option value="1">苹果apple</option>
                    </select>
                    <input value="查询" type="submit" />
                </form>
            </span>
        </div>
        <div style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="1" width="100%">
                <tbody>
                    <tr style="font-weight: bold;">
                        <td>序号</td>
                        <td>封面</td>
                        <td>文章标题</td>
                        <td>文章分类</td>
                        <td>作者</td>
                        <td>发布时间</td>
                        <td colspan="2" align="center">操作</td>
                    </tr>

                    <volist name="articlelist" id="vo">                   
                    <tr id="product1">
                        <td>{$i+$firstRow}</td>
                        <td><img src="__UPLOAD__{$vo.coverpic|default='default.jpg'}" height="60" width="60"></td>
                        <td><a href="#">{$vo.title}</a></td>
                        <td>{$vo.sortname}</td>                  
                        <td>{$vo.author|default='佚名'}</td>
                        <td>{$vo.time|date="Y-m-d",###}</td>
                        <td><a href="{:U('__CONTROLLER__/modifyarticle',array('id'=>$vo['id']))}">修改</a></td>
                        <td><a href="{:U('__CONTROLLER__/deletearticle',array('id'=>$vo['id']))}" onclick="return confirm('你真的要删除这篇文章吗？');">删除</a></td>
                    </tr>                   
                    </volist>

                    
                    

                    <tr>
                        <td colspan="20" style="text-align: center;">
                            {$page}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div style="height: 30px;text-align: center;">
                <empty name="articlelist">
                    <p>
                        还没有文章噢，快写篇文章吧~
                    </p>
                </empty>
            </div>

        </div>
    </body>
</html>