<div class="page-header">
    <div class="header">
        <div class="header-logo float-left">
            <a href="{:U('__MODULE__')}">
                <img class="logo01" src="{$Think.const.ADMIN_IMG_URL}logo.png" />
                <img class="logo02" src="{$Think.const.ADMIN_IMG_URL}logoadmin.png" />
            </a>
        </div>
        <div class="search-area float-left">
            <form action="{:U('__MODULE__/Article/search')}" method="get">
                <input type="text" placeholder="搜索文章标题..." class="search-input" name="search-key" value="{$keywords}" />
                <button type="submit" class="search-submit">搜索</button>
            </form>   
        </div>
        <div class="header-menu float-right">
            <ul>
                <li class="float-left">
                    <a class="blog-a" href="{:U('http://www.chenjinting.com/Blog')}" target="_blank">博客主页</a>
                </li>
                <li class="float-left">
                    <span class="welcome float-left">你好呀，</span><span class="currentuser float-left">{$admin}</span>
                </li>
                <li class="float-left">
                    <a class="logout" href="{:U('__MODULE__/Login/logout')}">退出</a> 
                </li>
            </ul>
        </div>
    </div>
</div>