<!-- 左侧侧边栏 -->

<div class="sidebar">
    <div class="sidebar-menu">
        <ul>
            <a href="{:U('__MODULE__/Article/showlist')}"><li class="sidebar-article">文章管理</li></a>

            <a href="{:U('__MODULE__/Sort/showlist')}"><li class="sidebar-sort">分类管理</li></a>

            <a href="{:U('__MODULE__/Tag/showlist')}"><li class="sidebar-tag">标签管理</li></a>

            <a href="{:U('__MODULE__/Comment/showlist')}">
                <li class="sidebar-comment">留言管理<neq name="newcommentnum" value="0"><span class="newcomment">{$newcommentnum}</span></neq></li>
            </a>

            <!-- <a href="{:U('__MODULE__/Admin/showlist')}"><li class="sidebar-admin">管理员</li></a> -->
        </ul>
    </div>
</div>