<!DOCTYPE HTML>
<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="pc,mobile" name="applicable-device">
<meta content="no-transform" http-equiv="Cache-Control">
<meta content="no-siteapp" http-equiv="Cache-Control">
<meta content="width=device-width" name="viewport">
<link href="{$Think.const.BLOG_CSS_URL}style.css" media="screen" type="text/css" rel="stylesheet"> 
<script src="{$Think.const.BLOG_JS_URL}jquery.min.js"></script> 
<title>人生哲理_人生哲理文章阅读_人生哲理语录句子大全_意空间阅读网</title><meta content="人生哲理_人生哲理文章阅读_人生哲理语录句子大全" name="keywords">
<meta content="人生哲理栏目为广大网友奉献人生哲理名言，人生哲理故事，人生哲理文章，哲理名人名言名录大全。" name="description">

</head>
<body class="archive category category-philosophy-life category-18">

<include file="Public/header" />

<div class="wrapper">
	<div class="content">


	
	<!-- 分享代码 --><!-- 分享代码 -->
	<ul class="excerpt thumb">
		<volist name="articleres" id="vo2">
		<li>
			<a class="pic" href="{:U('__MODULE__/Detail/index',array('id'=>$vo2['id']))}">
			<img alt="{$vo2.title}" src="__UPLOADIMG__{$vo2.coverpic}"></a>			
			<h2 class="excerpt-tit"><a href="{:U('__MODULE__/Detail/index',array('id'=>$vo2['id']))}">{$vo2.title}</a></h2>
			<p>	分类：	<a href="{:U('__MODULE__/List/showlistsort',array('sortid'=>$vo2['sortid']))}">{$vo2.sortname}</a></p>
			<p>
				标签：	<volist name="vo2['tag']" id="vo3">
							<a href="{:U('__MODULE__/List/showlisttag',array('tagid'=>$vo3['tagid']))}">{$vo3['tagname']}&nbsp;</a>
						</volist>
			</p>
			<p>	阅读：	{$vo2.readnum}</p>
			<p class="excerpt-desc">				
				{$vo2.abstract}...	
			</p>
			<div class="excerpt-time">{$vo2.time|date="Y-m-d",###}</div>
		</li>
		</volist>
	</ul>

	<div style="height: 30px;text-align: center;">
        <empty name="articleres">
            <p>
                博主好懒啊，一篇文章都没有~
            </p>
        </empty>
    </div>

	<!-- <div>{$page}</div> -->
	
<div class="paging">{$page}</div>

</div>

<include file="Public/right" />

</div>

<include file="Public/footer" />








</body></html>