.comment h2{
    width: 100px;margin: 0 auto;
}
.every-comment{
    position: relative;
    min-height: 88px;
    padding: 5px 0;
    margin: 5px 0;
}
.comment-img{
    position: absolute;
    top: 0;
    left: 10px;
}
.every-comment img{
    width: 60px;  
    height: 60px;
}
.comment-paddingleft{
    padding-left: 80px;
}
.comment-content{
    padding: 10px 0 10px 80px;
}

.publish-comment{
    width: 512px;
    margin: 0 auto;
}
.comment h3{
    width: 100px;margin: 0 auto;
}
.comment p{
    margin: 15px 0;
}
.comment p input{
    width: 500px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.comment p textarea{
    width: 500px;
    height: 110px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.comment p button{
    width: 512px;
    height: 35px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    background: #FFB733;
}