<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">    
    <meta name="author" content="陈锦挺，253018164@qq.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" /> <!-- 禁止百度转码 -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>挺 | 后台管理 - 分类列表</title>

    <link href="{$Think.const.ADMIN_CSS_URL}admin.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}admin.js"></script>
    
</head>
<body>
    <div class="page">
        <include file="Public/header" />

        <include file="Public/sidebar" />

        <!-- 用于存储当前导航菜单的URL值，使引入的外部js文件获取到该值，以达到高亮左侧导航栏的效果 -->
        <input type="hidden" id="currenturl" value="__CONTROLLER__/showlist" />
        
        <div class="showlistsort main">
            <h1>当前共有分类：{$count}</h1>

            <a class="addnew" href="{:U('__CONTROLLER__/addsort')}">新增分类</a>

            <notempty name="sortlist">

            <div class="sort-tag">
                <volist name='sortlist' id='sort'>
                <div class="every-sort-tag float-left">
                    <h2 class="sort-tag-h2">
                        <a href="{:U('__MODULE__/Article/showlistsort',array('sortid'=>$sort['sortid']))}">{$sort.sortname}</a>
                        <span class="article-num">
                            <volist name="sort['sortarticlecount']" id="sortcount">
                            ({$sortcount})
                            </volist>
                        </span>
                    </h2>
                    <div class="sort-tag-operate">
                        <a class="modify-sort-tag" href="{:U('__CONTROLLER__/modifysort',array('id'=>$sort['sortid'],'sortname'=>$sort['sortname']))}">修改</a>
                        <a class="delete-sort-tag" href="{:U('__CONTROLLER__/deletesort',array('id'=>$sort['sortid']))}" onclick="return confirm('你真的要删除这个分类吗？');">删除</a>
                    </div>
                    
                </div>
                </volist>
            </div>

            </notempty>

            <empty name="sortlist">
            <div class="emptydata"><p>还没有分类噢，快增加一个分类吧~</p></div>
            </empty>

            <div class="clear"></div>

        </div>

        <include file="Public/footer" />
    </div>

</body>
</html>