<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>留言列表</title>

        <link href="{$Think.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .tr_color{background-color: #9F88FF}
        </style>
        <div class="div_head">
            <span style="float: left;">当前位置是：留言管理-》留言列表</span>
        </div>
        <div></div>
        <div style="font-size: 13px; margin: 10px 5px;">
            <notempty name="commentlist">
            <table class="table_a" border="1" width="100%">
                <tbody>
                    
                    <tr style="font-weight: bold;">
                        <td>序号</td>
                        <td>留言内容</td>
                        <td>文章</td>
                        <td>留言时间</td>
                        <td>留言人</td>
                        <td>留言人站点</td>
                        <td>审核状态</td>
                        <td colspan="2" align="center">操作</td>
                    </tr>
                    
                    <volist name="commentlist" id="vo" key="k">                   
                    <tr id="product1">
                        <td>{$k+$firstRow}</td>
                        <td><a href="/Blog/Detail/index/id/{$vo.articleid}/#{$vo.commentid}" target="_blank">{$vo.commentcontent}</a></td>
                        <td><a href="{:U('__CONTROLLER__/showlistarticle',array('articleid'=>$vo['articleid']))}">{$vo.title}</a></td>
                        <td>{$vo.commenttime|date="Y-m-d H:i;s",###}</td>  
                        <td>{$vo.commentauthor}</td>
                        <td><a href="{$vo.personsite}" target="_blank">{$vo.personsite}</a></td>
                        <td>
                            <if condition="$vo.status eq 0">
                                待审核
                            <else />
                                审核通过
                            </if>
                        </td>
                        <td>
                            <if condition="$vo.status eq 0">
                                <a href="{:U('__CONTROLLER__/reviewcomment',array('commentid'=>$vo['commentid']))}">审核通过</a>
                                <a href="{:U('__CONTROLLER__/deletecomment',array('commentid'=>$vo['commentid']))}">审核不通过</a>
                            <else />
                                <a href="{:U('__CONTROLLER__/deletecomment',array('commentid'=>$vo['commentid']))}" onclick="return confirm('你真的要删除这条留言吗？');">删除</a>
                            </if>
                        </td>
                    </tr>                   
                    </volist>                  

                    <tr>
                        <td colspan="20" style="text-align: center;">
                            {$page}
                        </td>
                    </tr>
                </tbody>
            </table>
            </notempty>

            <div style="height: 30px;text-align: center;">
                <empty name="articlelist">
                    <p>
                        还没有留言噢，快写篇留言吧~
                    </p>
                </empty>
            </div>

        </div>
    </body>
</html>