<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">    
    <meta name="author" content="陈锦挺，253018164@qq.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" /> <!-- 禁止百度转码 -->

    <title>
        挺 | 后台管理 - <volist name="articleidname" id="idname">{$idname.title}</volist> - 留言列表
    </title>

    <link rel="shortcut icon" href="{$Think.const.ADMIN_IMG_URL}favicon.ico" type="image/x-icon">
    <link rel="icon" href="{$Think.const.ADMIN_IMG_URL}favicon.ico" type="image/x-icon">
    <link href="{$Think.const.ADMIN_CSS_URL}admin.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}admin.js"></script>
    
</head>
<body>
    <div class="page">
        <include file="Public/header" />

        <include file="Public/sidebar" />

        <!-- 用于存储当前导航菜单的URL值，使引入的外部js文件获取到该值，以达到高亮左侧导航栏的效果 -->
        <input type="hidden" id="currenturl" value="__CONTROLLER__/showlist" />

        <div class="showlistarticlecomment main">
            <h1>
                当前留言的文章为：  <volist name="articleidname" id="idname">
                                        {$idname.title}
                                        <input type="hidden" name="currentarticleid" value="{$idname.id}" />
                                    </volist>
            </h1>

            <notempty name="commentlist">
            <div class="comment-list">
                <volist name="commentlist" id="vo" key="k"> 
                <div class="every-comment">
                    <p class="comment-content">
                        <a href="/Blog/Detail/index/id/{$vo.articleid}/#{$vo.commentid}" target="_blank">{$vo.commentcontent}</a>
                    </p>
                    <p class="comment-info">
                        <span>时间</span>
                        <span>{$vo.commenttime|date="Y-m-d H:i;s",###}</span>
                        <span>留言人</span>
                        <span class="comment-author">
                            <a href="{$vo.personsite}" target="_blank">{$vo.commentauthor}</a>
                        </span>
                    </p>
                    <p class="comment-article">
                        <span class="comment-article-title">文章：</span><a href="{:U('__CONTROLLER__/showlistarticle',array('articleid'=>$vo['articleid']))}">{$vo.title}</a>
                    </p>

                    <!-- 留言审核状态 -->
                    <if condition="$vo.status eq 0">
                        <span class="comment-review-status comment-review-status-pending">待审核</span>                     
                    <else />
                        <span class="comment-review-status comment-review-status-pass">已审核通过</span>
                    </if>

                    <!-- 留言审核操作 -->
                    <if condition="$vo.status eq 0">
                        <div class="comment-operate">
                            <a class="modifybutton" href="{:U('__CONTROLLER__/reviewcomment',array('articleid'=>$vo['articleid'],'commentid'=>$vo['commentid']))}">审核通过</a>
                            <a class="deletebutton" href="{:U('__CONTROLLER__/deletecomment',array('articleid'=>$vo['articleid'],'commentid'=>$vo['commentid']))}">审核不通过</a>
                        </div>
                        
                    <else />
                        <div class="comment-operate comment-delete">
                            <a class="deletebutton" href="{:U('__CONTROLLER__/deletecomment',array('articleid'=>$vo['articleid'],'commentid'=>$vo['commentid']))}" onclick="return confirm('你真的要删除这条留言吗？');">删除</a>
                        </div>
                    </if>

                </div>
                </volist>                
            </div>

            <div class="pagination">{$page}</div>      

            </notempty>

            <empty name="commentlist">
                <div class="emptydata"><p>还没有留言噢</p></div>
            </empty>

            <div class="clear"></div>

        </div>


        <include file="Public/footer" />
    </div>

</body>
</html>