 <!DOCTYPE HTML>
<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="pc,mobile" name="applicable-device">
<meta content="no-transform" http-equiv="Cache-Control">
<meta content="no-siteapp" http-equiv="Cache-Control">
<meta content="width=device-width" name="viewport">
<link href="{$Think.const.BLOG_CSS_URL}style.css" media="screen" type="text/css" rel="stylesheet">
<script src="{$Think.const.BLOG_JS_URL}jquery.min.js"></script> 
<title>人生哲理_人生哲理文章阅读_人生哲理语录句子大全_意空间阅读网</title><meta content="人生哲理_人生哲理文章阅读_人生哲理语录句子大全" name="keywords">
<meta content="人生哲理栏目为广大网友奉献人生哲理名言，人生哲理故事，人生哲理文章，哲理名人名言名录大全。" name="description">

<script type="text/javascript">
    $(function(){
        var current_url = "__MODULE__/List/showlistsort/sortid/{$articleres.sortid}";
        $('a[href="'+current_url+'"]').addClass('activeli');
    })
 </script>

</head>
<body class="archive category category-philosophy-life category-18">

<include file="Public/header" />

<div class="wrapper">
	<div class="content">

<div class="meta">
	<h1 class="meta-tit">{$articleres.title}</h1>
	<p class="meta-info">
		分类：	<a href="{:U('__MODULE__/List/showlistsort',array('sortid'=>$articleres['sortid']))}">{$articleres.sortname}</a> <br />
		标签：	<volist name="articleres['tag']" id="vo2">
					<a href="{:U('__MODULE__/List/showlisttag',array('tagid'=>$vo2['tagid']))}">{$vo2.tagname}&nbsp;&nbsp; </a>
				</volist> <br />
		发表日期：{$articleres.time|date="Y-m-d",###} &nbsp;&nbsp; 
		阅读：{$articleres.readnum}次&nbsp;&nbsp; 
	</p>
</div>




<div class="entry">
	<img width="630" alt="{$articleres.title}" src="__UPLOADIMG__{$articleres.coverpic}" class="aligncenter size-full wp-image-38074">
	{$articleres.content|htmlspecialchars_decode|stripslashes}
</div>

<div>文章版权属于文章作者所有，转载请注明：<a href="{:U('__MODULE__/Detail/index',array('id'=>$articleres['id']))}" title=" 诸葛亮写给儿子的一封信，仅86字！ " rel="bookmark">{$articleres.title}</a></div> 



<!-- 广告代码 -->
<!-- 百度推荐 -->


</div>

<include file="Public/right" />

</div>



<include file="Public/footer" />








</body></html>