@charset "UTF-8";
// 分类管理列表

.showlistsort{
	h1{
		background: url(../img/listsort.png) no-repeat;
		background-position: $h1-background-position;
	}
	.sort-tag-area{
		padding-top: 10px;
	}
	.every-sort-tag{
		width: 150px;
		height: $every-sort-height;
		margin: 20px;
		border: 0;
		border-radius: 10px;
		color: #fff;
		text-align: center;
		padding: 10px;
		background-color: $theme-backgoundcolor;
		position: relative;

		.sort-tag-h2{
			line-height: $every-sort-height;

			.article-num{
				font-size: 12px;
			}
		}
		
		.sort-tag-operate{
			width: 100px;
			height: $every-sort-height;
			line-height: $every-sort-height;
			margin: 0 auto;
			margin-top: 10px;
			font-size: 12px;
			position: absolute;
			left: 35px;
			top: 40px;
			display: none;

			.modify-sort-tag{
				@extend .modifybutton;
				border: 0;			
			}
			.delete-sort-tag{
				@extend .deletebutton;
				border: 0;
			}

		}
	}
}