@charset "UTF-8";
/** 后台管理模块 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

body { font-family: "hiragino sans gb","microsoft yahei"; background-color: #eee; }

.main { padding: 20px; margin-left: 180px; margin-top: 60px; }

a { color: #fff; text-decoration: none; }

.float-left { float: left; }

.float-right { float: right; }

.clear { clear: both; }

.page-header { width: 100%; position: fixed; top: 0; left: 0; }
.page-header .header { height: 60px; background-color: #3e3e40; }
.page-header .header .header-logo { width: 300px; height: 60px; }
.page-header .header .header-logo img.logo01 { width: 118px; height: 60px; }
.page-header .header .header-logo img.logo02 { width: 170px; height: 60px; }
.page-header .header .header-menu { height: 60px; }
.page-header .header .header-menu li { padding: 20px 0; height: 20px; line-height: 20px; margin-right: 15px; }
.page-header .header .header-menu li a { font-size: 15px; text-decoration: none; }
.page-header .header .header-menu li .blog-a { margin-right: 15px; color: #eee; font-size: 16px; }
.page-header .header .header-menu li .blog-a:hover { color: #c9e4f2; }
.page-header .header .header-menu li span.welcome { display: block; color: #e4e4e4; font-size: 13px; }
.page-header .header .header-menu li span.currentuser { color: #fff; }
.page-header .header .header-menu li .logout:hover { color: #90b4c6; }

.sidebar { margin-top: 60px; width: 180px; height: 100%; background-color: #3e3e40; position: fixed; top: 0; left: 0; }
.sidebar .sidebar-menu { margin-top: 10px; }
.sidebar .sidebar-menu li { height: 35px; line-height: 35px; margin: 5px 0; padding-left: 50px; font-size: 14px; }
.sidebar .sidebar-menu li:hover { background-color: #585858; }
.sidebar .sidebar-menu li .newcomment { background-color: #eC2e2e; border-radius: 50%; font-size: 12px; padding: 1px 5px; position: relative; top: 0; left: 5px; }
.sidebar .sidebar-menu .sidebar-article { background: url(../img/sidebar-article.png) no-repeat; background-position: 17px 10px; }
.sidebar .sidebar-menu .sidebar-sort { background: url(../img/sidebar-sort.png) no-repeat; background-position: 17px 10px; }
.sidebar .sidebar-menu .sidebar-tag { background: url(../img/sidebar-tag.png) no-repeat; background-position: 17px 10px; }
.sidebar .sidebar-menu .sidebar-comment { background: url(../img/sidebar-comment.png) no-repeat; background-position: 17px 10px; }
.sidebar .sidebar-menu .sidebar-admin { background: url(../img/sidebar-admin.png) no-repeat; background-position: 17px 10px; }
.sidebar .sidebar-menu .active-sidebar { background-color: #282828; }

.index h1 { font-size: 20px; color: #666; padding-left: 25px; background: url(../img/index-h1.png) no-repeat; background-position: 0 3px; }
.index .statistics { padding-top: 10px; }
.index .every-statistics, .index .statistics1, .index .statistics2, .index .statistics3, .index .statistics4, .index .statistics5 { width: 200px; height: 109px; margin: 20px; border-radius: 15px; color: #fff; text-align: center; padding: 10px; }
.index .every-statistics h2, .index .statistics1 h2, .index .statistics2 h2, .index .statistics3 h2, .index .statistics4 h2, .index .statistics5 h2 { margin: 5px 0; }
.index .every-statistics .data, .index .statistics1 .data, .index .statistics2 .data, .index .statistics3 .data, .index .statistics4 .data, .index .statistics5 .data { font-size: 2em; font-weight: bold; padding: 10px 0; }
.index .every-statistics .data .newcommenttitle, .index .statistics1 .data .newcommenttitle, .index .statistics2 .data .newcommenttitle, .index .statistics3 .data .newcommenttitle, .index .statistics4 .data .newcommenttitle, .index .statistics5 .data .newcommenttitle { display: block; margin: 9px 0; font-size: 13px; font-weight: normal; }
.index .every-statistics .data .newcommenttitle .newcommentnum, .index .statistics1 .data .newcommenttitle .newcommentnum, .index .statistics2 .data .newcommenttitle .newcommentnum, .index .statistics3 .data .newcommenttitle .newcommentnum, .index .statistics4 .data .newcommenttitle .newcommentnum, .index .statistics5 .data .newcommenttitle .newcommentnum { color: #ec2e2e; font-weight: bold; }
.index .statistics1 { background-color: #f34f4f; }
.index .statistics2 { background-color: #139c81; }
.index .statistics3 { background-color: #cec61a; }
.index .statistics4 { background-color: #7d4ad2; }
.index .statistics5 { background-color: #40af04; }

/*# sourceMappingURL=admin.css.map */
